CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Makefile
build/
build-*/
*.ninja
*.vcxproj*
*.sln
*.dir/
*.log
*.swp
*.DS_Store
*.idea/
.vscode/
*.exe
*.dll
*.so
*.dylib
*.lib
*.a
*.o
*.obj
*.out
*.app
docs/_build/
*.pdf
Testing/
test-results.xml
*.memdump
*.coverage
*.gcda
*.gcno
.vscode